Language: Cpp
ColumnLimit: 0
UseTab: AlignWithSpaces
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: None
BreakBeforeBraces: Custom
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
SortIncludes: false
InsertBraces: false
FixNamespaceComments: true
SpaceBeforeCaseColon: false
SpacesInParens: Never
Cpp11BracedListStyle: false
